.input {
  background-color: #1a1a1a80 !important;
  border: 0;
  box-shadow: none !important;
  height: 60px;
  padding-top: 3px;
  padding-left: 22px;
  border-radius: 20px !important;
}

.input::placeholder {
  color: #ffffff66;
}

@media (max-width: 1000px) {
  .input {
    height: 40px;
    padding-left: 11px;
    border-radius: 8px !important;
    padding-top: 10px;
  }
}
