.card {
  background: #1a1a1a4d;
  border: 0;
  padding: 0 !important;

  .ant-card-head {
    border-bottom: 0;
  }

  .ant-card-body {
    padding: 0;
  }
}

.card.small {
  padding: 21px !important;
  border-radius: 16px;
  background: #1a1a1a80;
}

.card.medium {
  padding: 23px 20px 0 20px !important;
  border-radius: 24px;
}

.card.large {
  padding: 46px 50px 0 50px !important;
  border-radius: 40px;
}

@media (max-width: 1000px) {
  .card.small {
    padding: 10px !important;
  }

  .card.medium {
    padding: 22px 20px 0 20px !important;
    border-radius: 24px;
  }

  .card.large {
    padding: 20px 26px 0 26px !important;
    border-radius: 20px;
  }
}
