.card {
  background: #1a1a1a4d;
  border: 0;
  padding: 0 !important;

  .ant-card-head {
    border-bottom: 0;
  }

  .ant-card-body {
    padding: 0;
  }
}

.card.small {
  padding: 21px !important;
  border-radius: 16px;
  background: #1a1a1a80;
}

.card.medium {
  padding: 23px 20px 0 20px !important;
  border-radius: 24px;
}

.card.large {
  padding: 46px 40px 0 40px !important;
  border-radius: 40px;
}
