#root {
  margin: 0 auto;
  padding: 26px;
}

.weather-form-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.weather-app-container {
  width: 48vw;
}

.search-history-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.weather-image {
  width: 300px;
  position: absolute;
  right: 0;
  z-index: 1;
}

@media (max-width: 1000px) {
  .weather-app-container {
    width: 91vw;
  }

  .search-history-item {
    flex-direction: column;
    gap: 2px;
  }

  .weather-form-container {
    gap: 10px;
  }
  .weather-image {
    width: 200px;
  }
}
